body {
    margin: 10px auto 0px;
    font-family:helvetica;
    font-size:10pt;
    color: #494949;
}
a {
  text-decoration:none;
  color: #000;
}
/* TABLE STUFF */
.table {
  display:table;
}
.cell { 
  display:table-cell;
}
.row {
  display:table-row;
}

/* SPACING */
.fill {
  width:100%;
}
.pad {
  padding:10px;
}
.pad-5 {
  padding:5px;
}
.centered {
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

/* ALIGNMENT */
.left {
  text-align:left;
}
.right {
  text-align:right;
}
.center {
  text-align:center;
}
.bottom {
  vertical-align:bottom;
}
.top {
  vertical-align:top;
}
.middle {
  vertical-align:middle;
}