{% include "inc/header_oldmod.html" %}
    
<!--BEGIN PAGE CONTENT-->
{#<div id="main-content" class="main-content span-64 canary">#}
        {% block content %}{% endblock %}
{#</div>#}
<!--END MAIN COLUMN CONTENT-->

<div class="span-30">
  <div class="box-1"> 
    <a href="/"><img src="/media/images/DD-temp-podcast-badge.png" border="0" /></a>
    <br />
    <a href="http://twitter.com/DrunkDuck"><img src="/media/images/dd_twitter.png" border="0" /></a>
    <br />
    <a href="http://www.facebook.com/pages/DrunkDuck-Webcomics-Community/163827350318344"><img src="/media/images/DD-temp-facebook-badge.png" border="0" /></a>
    <!-- AD TAG BEGINS: DrunkDuck(gr.drunkduck) / homepage_atf / 300x250 --> 
    <!-- <script type="text/javascript" language="javascript" src="http://ads.addynamix.com/creative/2-2127755-2j?"></script> -->
    <!-- <noscript language="javascript"><a href="http://ads.addynamix.com/click/2-2127755-2"><img src="http://ads.addynamix.com/creative/2-2127755-2" border="0" /></a></noscript> -->
    <!-- AD TAG ENDS: DrunkDuck / homepage_atf / 300x250 --> 
    <br />
    <script type="text/javascript">
  var gr_ads_zone = 'homepage_atf';
  var gr_ads_size = '300x250';
</script>
<script type="text/javascript" src="http://a.giantrealm.com/gr.drunkduck/a.js">
</script>
<noscript>
  <a href="http://ans.giantrealm.com/click/gr.drunkduck/homepage_atf;tile=2;sz=300x250;ord=1234567890">
    <img src="http://ans.giantrealm.com/img/gr.drunkduck/homepage_atf;tile=2;sz=300x250;ord=1234567890" width="300" height="250" alt="advertisement" />
  </a>
</noscript>
<a href="http://www.adminder.com/c.cgi?survey&dd"><img src="/media/images/vgm_dd_300x250.jpg" border="0" /></a>
  </div>
</div> 
    
{% include "inc/footer_oldmod.html" %}