{% include "inc/header_oldmod.html" %}
    
<!--BEGIN PAGE CONTENT-->
{#<div id="main-content" class="main-content span-64 canary">#}
        {% block content %}{% endblock %}
{#</div>#}
<!--END MAIN COLUMN CONTENT-->

<div class="span-30">
  <div class="box-1"> 
    <a href="http://twitter.com/DrunkDuck"><img src="/media/images/dd_twitter.png" border="0" /></a>
    <br />
    <a href="http://www.facebook.com/pages/DrunkDuck-Webcomics-Community/163827350318344"><img src="/media/images/DD-temp-facebook-badge.png" border="0" /></a>
    <!-- AD TAG BEGINS: DrunkDuck(gr.drunkduck) / homepage_atf / 300x250 --> 
    <script language=javascript src="http://ads.addynamix.com/creative/2-2127755-2j?"></script>
    <noscript language=javascript><a href="http://ads.addynamix.com/click/2-2127755-2"><img src="http://ads.addynamix.com/creative/2-2127755-2" border=0></a></noscript>
    <!-- AD TAG ENDS: DrunkDuck / homepage_atf / 300x250 --> 
    <br />
    <a  href="http://www.facebook.com/wowio?v=app_107611949261673"><img style="border:none;" src="/media/images/DD-Formera-rect.jpg"></a>
  </div>
</div> 
    
{% include "inc/footer_oldmod.html" %}