{% extends 'base.html' %}

{% block content %}
<div class="span-71">
  <h1>The QuackCast!</h1>
  <div class="span-70 box-1" style="background:#d4d4d4;height:30px;margin-bottom:20px;text-align:center;vertical-align:middle;">
    <a style="float:left;vertical-align:middle;" href="/">QuackCast Home</a>
     <span style="float:right;">
        <a title="iTunes" href="http://itunes.apple.com/us/podcast/the-quackcast/id408740535"><img src="/media/images/itunes-badge.png" /></a>
      <a title="RSS" href="http://drunkduck.libsyn.com/rss"><img src="/media/images/rss-badge.png" /></a>
        </span>
  </div>
  {% include "podcast/podcast.html" %}
</div>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'e5bdcff0-3970-40c4-b9ec-fe6b46e3cade'});</script>
{% endblock %}
