{% extends 'base.html' %}
{% load pagination_tags %}

{% block content %}
<style type="text/css">
.next {
  float:right;
}
.prev {
  float:left;
}
/*.prev, .next, .page {
  background:#00f;
  color:#fff;
  padding:2px;
}
.pagination a {
  color:#fff;
}
.current {
  background:#0c0;
}
.disabled {
  color:#999;
}*/
</style>
<div class="span-71">
  <h1>The QuackCast!</h1>
  <div class="span-70 box-1" style="background:#d4d4d4;margin-bottom:20px;text-align: left;height:30px;">
    <a style="vertical-align: middle;" href="/">QuackCast Home</a>
      <form id="search_form" method="GET" style="display: inline-block; margin-left: 90px; vertical-align: middle;">
      <select id="search_date" name="date">
        <option value="">Show All</option>
        <option value="2010-12" {% if date == '2010-12' %}selected{% endif %}>Dec 2010</option>
        <option value="2010-11" {% if date == '2010-11' %}selected{% endif %}>Nov 2010</option>
        <option value="2010-10" {% if date == '2010-10' %}selected{% endif %}>Oct 2010</option>
        <option value="2010-09" {% if date == '2010-09' %}selected{% endif %}>Sep 2010</option>
        <option value="2010-08" {% if date == '2010-08' %}selected{% endif %}>Aug 2010</option>
        <option value="2010-07" {% if date == '2010-07' %}selected{% endif %}>Jul 2010</option>
        <option value="2010-06" {% if date == '2010-06' %}selected{% endif %}>Jun 2010</option>
        <option value="2010-05" {% if date == '2010-05' %}selected{% endif %}>May 2010</option>
        <option value="2010-04" {% if date == '2010-04' %}selected{% endif %}>Apr 2010</option>
        <option value="2010-03" {% if date == '2010-03' %}selected{% endif %}>Mar 2010</option>
        <option value="2010-02" {% if date == '2010-02' %}selected{% endif %}>Feb 2010</option>
        <option value="2010-01" {% if date == '2010-01' %}selected{% endif %}>Jan 2010</option>
      </select>
      <input id="search_text" name="search" value="{% if search %}{{ search }}{% endif %}" />
      <input type="submit" value="go" />
      <input type="reset" value="reset" onclick="window.location='/';" />
      </form>
      <a style="float:right;" title="RSS" href="http://drunkduck.libsyn.com/rss"><img src="/media/images/rss-badge.png" /></a>
  </div>
{% if podcasts %}
  {% autopaginate podcasts 8 %}
  {% for podcast in podcasts %}
    {% include "podcast/podcast.html" %}
  {% endfor %}
  <div class="span-67 push-2" style="text-align:center;">
    {% paginate %}
  </div>
  {% else %}
    <p>No podcasts are available.</p>
  {% endif %}
</div>

<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'e5bdcff0-3970-40c4-b9ec-fe6b46e3cade'});</script>

{% endblock %}
