{%if forloop.counter > 1 %}
  <a href="/podcast/{{ podcast.slug }}">
{% endif %}
<div class="span-65 box-1 push-2" style="background:#999;">
  <div class="span-12" style="text-align:center;"><img src="/media/images/quackcast-logo-sm.png" /></div>
  <div class="span-52">
    <div class="span-52">
      <h2 style="margin:0;"><a href="/podcast/{{ podcast.slug }}">{{ podcast.title }}</a></h2>
      <h4 style="color:#fff;margin:0;">{{ podcast.pub_date|date:"M j, Y" }}</h4>
      <p>{{ podcast.leadin }}</p>
    </div>
    {% if not forloop.counter or forloop.first %}
    <div class="span-52">
      <h3>Topics and Show Notes</h3>
      <p>{{ podcast.detail|linebreaksbr }}</p>
    </div>
    <div class="span-52" style="text-align:center;">
      <script type="text/javascript">  
      $(document).ready(function(){
        AudioPlayer.embed("audioplayer_{{ podcast.id }}", {  
          soundFile: "{{ podcast.path }}",  
          titles: "{{ podcast.title }}",
          // artists: "Add Artists here",  
        });  
      });
      </script> 
      <div style="display:inline-block;clear:both;vertical-align:middle;">
        <p style="display:inline-block;width:300px;height:10px;" style="vertical-align:middle;" id="audioplayer_{{ podcast.id }}">loading...</p>  
        <!-- <a title="Twitter" href="http://twitter.com/drunkduck"><img src="/media/images/twitter-badge.png" /></a> -->
        <!-- <a title="Facebook" href="http://www.facebook.com/pages/DrunkDuck-Webcomics-Community/163827350318344"><img src="/media/images/facebook-badge.png" /></a> -->
        <span class="st_twitter_custom" st_url="http://podcast.drunkduck.com/podcast/{{ podcast.slug }}/"><img src="/media/images/twitter-badge.png" /></span>
<span class="st_facebook_custom" st_url="http://podcast.drunkduck.com/podcast/{{ podcast.slug }}/"><img src="/media/images/facebook-badge.png" /></span>
        <a title="download" href="{{ podcast.path }}"><img src="/media/images/download-badge-2.png" /></a>
      </div>
    </div>
    {% endif %}
  </div>
</div>    
{%if forloop.counter > 1 %}
  </a>
{% endif %}
