    <div class="span-96">&nbsp;</div> 
    <!-- AD TAG BEGINS: DrunkDuck(gr.drunkduck) / homepage_atf / 1x1 -->
<script type="text/javascript">
  var gr_ads_zone = 'homepage_atf';
  var gr_ads_size = '1x1';
</script>
<script type="text/javascript" src="http://a.giantrealm.com/gr.drunkduck/a.js">
</script>
<noscript>
  <a href="http://ans.giantrealm.com/click/gr.drunkduck/homepage_atf;tile=5;sz=1x1;ord=1234567890">
    <img src="http://ans.giantrealm.com/img/gr.drunkduck/homepage_atf;tile=5;sz=1x1;ord=1234567890" width="1" height="1" alt="advertisement" />
  </a>
</noscript>
<!-- AD TAG ENDS: DrunkDuck / homepage_atf / 1x1 -->
    <div class="span-96 rounded" style="width: 1024px;"> 
        <div class="prepend-33" style="position:relative;padding-bottom:50px;"> 
            <div id="menu" style="right: 250px;"> 
                                    
            <!-- menu --> 
            <a href="http://www.drunkduck.com/search.php">comics</a> 
            <a href="http://www.drunkduck.com/account/overview/add_comic.php">create</a> 
            <a href="http://www.drunkduck.com/news.php">news</a> 
            <a href="http://www.drunkduck.com/tutorials/">tutorials</a> 
            <!--<a href="#">videos</a>--> 
            <a href="http://www.drunkduck.com/community">forums</a> 
            <a href="http://store.drunkduck.com">store</a> 
            
                        <a href="/games">games</a> 
                        </div> 
        </div> 
            <div style="text-align:center;"> 
            <a href="http://www.drunkduck.com/contact.php">Contact</a> | <a href="http://www.drunkduck.com/privacy.php">Privacy Policy</a> | Copyright 2010 WOWIO, Inc. All Rights Reserved 
            </div> 
        <br /> 
    </div> 
    
 
</div> 

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20164369-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body> 

</html>
