    <div class="span-96">&nbsp;</div> 
    <div class="span-96 rounded" style="width: 1024px;"> 
        <div class="prepend-33" style="position:relative;padding-bottom:50px;"> 
            <div id="menu" style="right: 250px;"> 
                                    
            <!-- menu --> 
            <a href="http://www.drunkduck.com/search.php">comics</a> 
            <a href="http://www.drunkduck.com/account/overview/add_comic.php">create</a> 
            <a href="http://www.drunkduck.com/news.php">news</a> 
            <a href="http://www.drunkduck.com/tutorials/">tutorials</a> 
            <!--<a href="#">videos</a>--> 
            <a href="http://www.drunkduck.com/community">forums</a> 
            <a href="http://store.drunkduck.com">store</a> 
            
                        <a href="/games">games</a> 
                        </div> 
        </div> 
            <div style="text-align:center;"> 
            <a href="http://www.drunkduck.com/contact.php">Contact</a> | <a href="http://www.drunkduck.com/privacy.php">Privacy Policy</a> | Copyright 2010 WOWIO, Inc. All Rights Reserved 
            </div> 
        <br /> 
    </div> 
    
 
</div> 
</body> 
</html>
