<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
<title>Drunk Duck</title> 
<!-- BLUEPRINT --> 
<link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection"> 
<link rel="stylesheet" href="/media/css/blueprint/gutterless.css" type="text/css" media="screen, projection"> 
<link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print">    
<!--[if IE]><link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
<style> 
body {    
    background: #f0f0f0;
}
    
</style> 
<!-- JQUERY --> 
<script type="text/javascript" src="/media/js/jquery/jquery-1.4.2.min.js"></script> 
 
<!-- JQUERY UI (JQUERY) --> 
<link type="text/css" rel="stylesheet" href="/media/js/jquery/jquery-ui/jquery-ui-1.8.6.custom.css" /> 
<script type="text/javascript" src="/media/js/jquery/jquery-ui/jquery-ui-1.8.6.custom.min.js"></script> 
 
<link rel="stylesheet" href="/media/css/custom_mod.css" type="text/css" media="screen, projection, print"> 
<link href='/media/css/layout_mod.css' rel='stylesheet' type="text/css"> 
<link href='/media/css/global.css' rel='stylesheet' type="text/css"> 

<style>
body{
    margin-top: 0;
}
.container{
    background: #f0f0f0;
}
.fake_link a, .fake_nav_link a{
    font-size: 14px;
    font-weight: bold;
    color: #40404f;
    margin: 0px;
    margin-right: 15px;
    margin-left: 15px;
}
h1 {
  margin-bottom:0;
  color:#999;
}
h3 {
  margin-bottom:0;
}
h2, h4, h2 a {
  color:#fff !important;
}
h2 {
font-size: 1.5em;
line-height: 1.2em;
}
</style>

<!-- AUDIO PLAYER SETUP -->
<script type="text/javascript" src="/media/js/audioplayer/audio-player.js"></script>  
<script type="text/javascript">  
$(document).ready(function(){
  AudioPlayer.setup("/media/js/audioplayer/player.swf", {
    width: 300, 
    autostart: 'no',
    animation: 'no',
    transparentpagebg: 'yes',
    bg: '555555',
    rightbg: '555555',
    leftbg: '555555',
    lefticon: 'FFFFFF',
    righticon: 'FFFFFF',
    rightbghover: '555555',
    volslider: '000000',
  });  
});
</script>  

</head> 
<body> 
 
 
<div class="container"> 
    <div class="span-96 green" style="position:relative;padding-top:10px; padding-top: 0; width: 1024px; height: 90px;"> 
                <div class="span-23" style="height:90px"> 
<div>
            <a href="http://www.drunkduck.com/" style="display:block;background-image:url('http://images.drunkduck.com/site_gfx_new_v3/header_logo_top.gif');background-repeat:no-repeat;width: 296px; height: 90px;position:relative;z-index:5;"> 
                
            </a> 
</div>
<div style="display: none;">
<table width="1024">
 <tr>
      <td width="296" height="21"><a href="http://www.drunkduck.com"><img src="http://images.drunkduck.com/site_gfx_new_v3/header_logo_bottom.gif" border="0"></a></td>
      <td width="100%" height="21" background="http://images.drunkduck.com/site_gfx_new_v3/header_nav_bg.gif" align="left">
        <table border="0" cellpadding="0" cellspacing="0" height="21">
          <tr>

            <form action="http://www.drunkduck.com/search.php" name="searchform" method="GET">
            <td align="center">
              <div style="width:100px;height:21px;background:url(http://images.drunkduck.com/site_gfx_new_v3/search_bg.gif);">
                <input name="searchTxt" type="text" value="Search!" onclick="this.value='';" style="border:0px;width:80px;height:18px;font-size:14px;text-align:center;"/>
              </div>
            </td>
            <input type="hidden" name="advanced" value="0">
                        </form>
            <td align="center">

              <div class="fake_nav_link" id="header_nav"><a href="http://www.drunkduck.com/search.php">Browse</a></div>
            </td>
            <td align="center">
              <div class="fake_link" id="header_nav"><a href="http://www.drunkduck.com/tutorials/">Tutorials</a></div>
            </td>
            <td align="center">
              <div class="fake_link" id="header_nav"><a href="http://www.drunkduck.com/games/">Games</a></div>

            </td>
            <td align="center">
              <div class="fake_link" id="header_nav"><a href="http://www.drunkduck.com/news/">News</a></div>
            </td>
            <td align="center">
              <div class="fake_link" id="header_nav"><a href="http://www.drunkduck.com/community/">Forums</a></div>
            </td>
            <td align="center">

              <div class="fake_link" id="header_nav"><a href="http://store.drunkduck.com/">Store</a></div>
            </td>
            <td align="center" width="100%">
              <div class="fake_link" id="header_nav"><a href="http://www.wowiotv.com" target="new">WOWIOTV</a></div>
            </td>
          </tr>
        </table>
    </td>
</tr>
</table>

</div>
            
        </div> 
        <div style="position:relative;height:100px;display:block; width: 1024px;"> 
            <div class="rounded" style="position:relative; margin-left: 296px;"> 
            
	<!-- AD TAG BEGINS: DrunkDuck(gr.drunkduck) / ros_atf / 728x90 --> 
<script type="text/javascript" language=javascript src="http://ads.addynamix.com/creative/2-2127755-1j?"></script>
<noscript language=javascript><a href="http://ads.addynamix.com/click/2-2127755-1"><img src="http://ads.addynamix.com/creative/2-2127755-1" border=0></a></noscript>
<!-- AD TAG ENDS: DrunkDuck / ros_atf / 728x90 -->            </div> 
        </div> 
    </div> 
    
    <div class="span-96" style="height:10px; width: 1024px; margin-bottom: 20px; height: 21px;">

<div>
<img src="http://images.drunkduck.com/site_gfx_new_v3/header_logo_bottom.gif" border="0" style="display: inline-block; margin-right: 0;" /><span style="display: inline-block;background: url('http://images.drunkduck.com/site_gfx_new_v3/header_nav_bg.gif');height: 21px; width: 728px; vertical-align: top; margin-left: 0;">

            <form action="http://www.drunkduck.com/search.php" name="searchform" method="GET" style="display: inline-block;">
              <span style="display: inline-block;width:100px;height:21px;background:url(http://images.drunkduck.com/site_gfx_new_v3/search_bg.gif);">
                <input name="searchTxt" type="text" value="Search!" onclick="this.value='';" style="border:0px;width:80px;height:18px;font-size:14px;text-align:center; margin-left: 10px;"/>
              </span>
            <input type="hidden" name="advanced" value="0">
                        </form>
              <span class="fake_nav_link" id="header_nav"><a href="http://www.drunkduck.com/search.php">Browse</a></span>
              <span class="fake_link" id="header_nav"><a href="http://www.drunkduck.com/tutorials/">Tutorials</a></span>
              <span class="fake_link" id="header_nav"><a href="http://www.drunkduck.com/games/">Games</a></span>

              <span class="fake_link" id="header_nav"><a href="http://www.drunkduck.com/news/">News</a></span>
              <span class="fake_link" id="header_nav"><a href="http://www.drunkduck.com/community/">Forums</a></span>

              <span class="fake_link" id="header_nav"><a href="http://store.drunkduck.com/">Store</a></span>
              <span class="fake_link" id="header_nav"><a href="http://www.wowiotv.com" target="new">WOWIOTV</a></span>
</span>
</div>
    </div>
