<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
<title>Drunk Duck</title> 
<!-- BLUEPRINT --> 
<link rel="stylesheet" href="/media/css/blueprint/screen.css" type="text/css" media="screen, projection"> 
<link rel="stylesheet" href="/media/css/blueprint/gutterless.css" type="text/css" media="screen, projection"> 
<link rel="stylesheet" href="/media/css/blueprint/print.css" type="text/css" media="print">    
<!--[if IE]><link rel="stylesheet" href="/media/css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
<style> 
body {    
    background-color:rgb(9,153,68);
    background-image:url('/media/images/bg-bubbles.jpg'); 
    background-repeat:no-repeat;
    background-position:center top;
}
    
</style> 
<!-- JQUERY --> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-1.4.2.min.js"></script> 
 
<!-- JQUERY UI (JQUERY) --> 
<link href="{{ MEDIA_URL }}css/jquery/start/jquery-ui-1.8.5.custom.css" type="text/css" rel="stylesheet" /> 
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-ui-1.8.5.custom.min.js"></script> 
 
<!-- GOOGLE FONT --> 
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:bold' rel='stylesheet' type="text/css" /> 
 
<link rel="stylesheet" href="{{ MEDIA_URL }}css/custom.css" type="text/css" media="screen, projection, print"> 
<link href='{{ MEDIA_URL }}css/layout.css' rel='stylesheet' type="text/css"> 
<link href='{{ MEDIA_URL }}css/global.css' rel='stylesheet' type="text/css"> 

<!-- AUDIO PLAYER SETUP -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/audioplayer/audio-player.js"></script>  
<script type="text/javascript">  
$(document).ready(function(){
  AudioPlayer.setup("{{ MEDIA_URL }}js/audioplayer/player.swf", {
    width: 400, 
    bg: 'FF9999',
    // animation: 'no'
  });  
});
</script>  
 
</head> 
<body> 
 
 
<div class="container"> 
    <div class="span-96 green rounded" style="position:relative;padding-top:10px"> 
                <div class="span-23" style="height:150px"> 
            <a href="/" style="display:block;background-image:url('{{ MEDIA_URL }}images/drunkduck-logo.png');background-repeat:no-repeat;width:268px;height:187px;position:relative;left:-38px;top:-28px;z-index:5;"> 
                
            </a> 
            
        </div> 
        <div class="span-73 border-1 rounded green" style="position:relative;height:100px;display:block;"> 
            <div class="rounded" style="position:absolute;top:0px;right:-7px;border:10px solid rgb(174,230,1);background-color:#FFF;height:90px;width:728px;"> 
            
	<!-- AD TAG BEGINS: DrunkDuck(gr.drunkduck) / ros_atf / 728x90 --> 
<script language=javascript src="http://ads.addynamix.com/creative/2-2127755-1j?"></script>
<noscript language=javascript><a href="http://ads.addynamix.com/click/2-2127755-1"><img src="http://ads.addynamix.com/creative/2-2127755-1" border=0></a></noscript>
<!-- AD TAG ENDS: DrunkDuck / ros_atf / 728x90 -->            </div> 
        </div> 
        <div class="span-73" id="menu"> 
                                <div style="float:left;display:inline;background-image:url('{{ MEDIA_URL }}images/search.png');width:154px;height:20px" class="span-16"> 
              <link type="text/css" rel="stylesheet" href="/css/search.css" /> 
              <script type="text/javascript" src="{{ MEDIA_URL }}/js/search.js"></script> 
                <form id="dd-navigation" action="/search.php" method="get" style="padding:0px;height:20px;border:0px;vertical-align:top;position:relative;left:-2px;"> 
                    <input type="text" id="searchTxt"  autocomplete="off" name="searchTxt" class="searchbox" style="position:absolute;top:0px;left:10px;margin:0;height:20px;border:0px;width:120px;outline:none;" /> 
                    <input type="image" style="background:none;outline:none;padding:0;border:none;position:absolute;top:0px;right:0px;" src="/media/images/search-placeholder.gif" class="searchbox_submit" /> 
                </form> 
                <div id="search_results"></div> 
            </div> 
 
                            
            <!-- menu --> 
            <a href="http://www.drunkduck.com/search.php">comics</a> 
            <a href="http://www.drunkduck.com/account/overview/add_comic.php">create</a> 
            <a href="http://www.drunkduck.com/news.php">news</a> 
            <a href="http://www.drunkduck.com/tutorials/">tutorials</a> 
            <!--<a href="#">videos</a>--> 
            <a href="http://www.drunkduck.com/community">forums</a> 
            <a href="http://store.drunkduck.com">store</a> 
            
                    </div> 
    </div> 
    
    <div class="span-96" style="height:10px;"></div>
